<p id="notice"><%= notice %></p>

<h1>Events</h1>


    <% @events.each do |event| %>
      <div class="col-md-4">
        <h3><%= event.title %></h3>
        <div>Organizer: <%= event.organizer %></div>
        <div>Location: <%= event.location %></div>
        <div>Description: <%= event.description %></div>
        <div><%= event.startdatetime.strftime('%_m/%_d/%y %H:%M%p')%>
          -<%= event.enddatetime.strftime('%H:%M%p') %></div>
      </div>
    <% end %>
    <%#= link_to 'Show', event %>
    <%#= link_to 'Edit', edit_event_path(event) %>
    <%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>

<br>

<div><%= link_to 'New Event', new_event_path %><div>
